<meta name="pdfkit-orientation" content="Landscape"/>
{%- if doc.period -%}
	{% set val= doc.get_period_date_days() %}
	{% set contracts, posting= doc.get_contracts() %}
	{% print"Postingcontracts#: ",contracts %}
    <div id="header-html" class="hidden-pdf">
        <h3 style= "text-align:center;">{{ doc.company }}</h3>
        <h6 style= "text-align:center;">Attendance Sheet For The Month of <b>{{doc.period}}</b></h6>
  	</div>
	{% for d in contracts %}
        {% for posting_data in posting %}
			{% print"PostingName#: ",posting_data.parent %}
			{%- if posting_data|length > 0 and posting_data.parent == d.name -%}
				<h5 style= "text-align:right;"><b>Date & Time : _________________________ </b></h5>
				<table border="1" width="100%">
					<tr>
						<td width="8%"><b>Contract :</b></td>
						<td width="25%">{{ d.contract_name }}</td>
						<td width="9%"><b>Party Name :</b></td>
						<td width="25%">{{ d.party_name }}</td>
						<td width="8%"><b>Site Name:</b></td>
						<td width="25%">{{ d.bu_site_name }}</td>
					</tr>
					<tr>
						<td width="30%"colspan="2"><b>PREPARED BY : </b></td>
						<td width="30%" colspan="2"><b>TNO :</b></td>
						<td width="40%" colspan="2"><b>DESIGNATION :</b></td>
					</tr>
				</table><br>
				<table border="1" width="100%">
					<thead class= "report-header">
						<tr>
							<td width= "2%"><b>SL.NO</b></td>
							<td width= "7%"><b>TICKET.NO</b></td>
							<td width= "15%"><b>NAME.OF.EMPLOYEE</b></td>
							<td width= "8%"><b>DESIGNATION</b></td>
							{%- if val -%}
								{% for i in range(0, val|length) %}
									<td width= "1%"><b>{{val[i]}}</b></td>
									{% endfor %}
							{%- endif -%}
							<td width= "7%"><b>PD (A)</b></td>
							<td width= "7%"><b>WO (B)</b></td>
							<td width= "7%"><b>TOTAL (A+B=C)</b></td>
							<td width= "5%"><b>ED (D)</b></td>
							<td width= "5%"><b>NH (E)</b></td>
							<td width= "5%"><b>TOTAL (C+D+E)</b></td>
						</tr>
					</thead>
					</tbody>
						{% for j in range(0, posting_data|length) %}
							{%- if posting_data[j].employee or posting_data[j].employee != "" -%}
								<tr>
									<td width= "2%">{{ j+1 }}</td>
									<td width= "7%"><b>{{ posting_data[j].employee }}</b></td>
									<td width= "15%">{{ posting_data[j].employee_name}}<br><small> {{frappe.utils.formatdate(posting_data[j].from_date, 'dd-MM-YYYY')}} To {{frappe.utils.formatdate(posting_data[j].to_date, 'dd-MM-YYYY')}} </small></td>
									<td width= "8%">{{ posting_data[j].work_type }}</td>
									{%- if val -%}
										{% for i in range(0, val|length) %}
											<td width= "1%"></td>
											{% endfor %}
									{%- endif -%}
									<td width= "7%"></td>
									<td width= "7%"></td>
									<td width= "7%"></td>
									<td width= "5%"></td>
									<td width= "5%"></td>
									<td width= "5%"></td>
								</tr>
							{%- endif -%}
							{% if loop.index % 5 == 0 and loop.index != posting_data|length %}
								</tbody>
								</table>
								<h6 style= "text-align:center;">NOTE: P-PRESENT, A-ABSENT,O-WEEKLY OFF D-EXTRA DUTY (A,O,D TO BE SHOWN IN RED) (N/H- NATION HOLIDAY)</h6>
								<div class="page-break"></div>
								<h5 style= "text-align:right;"><b>Date & Time : _________________________ </b></h5>
								<table border="1" width="100%">
									<tr>
										<td width="8%"><b>Contract :</b></td>
										<td width="25%">{{ d.contract_name }}</td>
										<td width="9%"><b>Party Name :</b></td>
										<td width="25%">{{ d.party_name }}</td>
										<td width="8%"><b>Site Name:</b></td>
										<td width="25%">{{ d.bu_site_name }}</td>
									</tr>
									<tr>
										<td width="30%"colspan="2"><b>PREPARED BY : </b></td>
										<td width="30%" colspan="2"><b>TNO :</b></td>
										<td width="40%" colspan="2"><b>DESIGNATION :</b></td>
									</tr>
								</table><br>
								<table border="1" width="100%">
									<thead class= "report-header">
										<tr>
											<td width= "2%"><b>SL.NO </b></td>
											<td width= "7%"><b>TICKET.NO </b></td>
											<td width= "15%"><b>NAME.OF.EMPLOYEE </b></td>
											<td width= "8%"><b>DESIGNATION</b></td>
											{%- if val -%}
												{% for i in range(0, val|length) %}
													<td width= "1%"><b>{{val[i]}}</b></td>
													{% endfor %}
											{%- endif -%}
											<td width= "7%"><b>PD (A)</b></td>
											<td width= "7%"><b>WO (B)</b></td>
											<td width= "7%"><b>TOTAL (A+B=C)</b></td>
											<td width= "5%"><b>ED (D)</b></td>
											<td width= "5%"><b>NH (E)</b></td>
											<td width= "5%"><b>TOTAL (C+D+E)</b></td>
										</tr>
									</thead>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
				<h6 style= "text-align:center;">NOTE: P-PRESENT, A-ABSENT,O-WEEKLY OFF D-EXTRA DUTY (A,O,D TO BE SHOWN IN RED) (N/H- NATION HOLIDAY)</h6>
			{%- endif -%}

			<div>
				<div id="footer-html">
					<div class="letter-head-footer">
						<table width="100%" border="1">
							<tr>
								<td width= "15%"><b>Present <br>Day(A):</b></br></td>
								<td width= "20%"><b>Extra <br>Duty(B):</b></td>
								<td width= "16%"><b>TOTAL <br>DUTY(A+B):</b></td>
								<td width= "12%"><b><br>NH:</b></td>
								<td width= "36%" rowspan="2">
									<h5 style= "text-align:center;">CERTIFIED BY/APPROVED BY CLIENT<br><small>Name, Sign & Mobile</small></h5>
									<br><br>
							</tr>
							<tr>
								<td><b>W/OFF:</b></td>
								<td><b>TOTAL DUTY <br>INCLUDING WOFF:</b></td>
								<td colspan="2"><b>CONTRACT <br>DUTIES(A+B):</b></td>
							</tr>
						</table><br>
						<table width="100%" border="0">
							<tr>
								<td width="50%" style= "text-align:center;">
									<h5>Checked by AO/AM <br><small>Name & Sign</small></h5><br><br>
								</td>
								<td style= "text-align:center;">
									<h5>Verified by Ops Manager<br><small>Name & Sign</small></h5><br><br>
								</td>
							</tr>
						</table>
					</div>
					<p class="text-center small page-number visible-pdf">
						{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
					</p>
				</div>
			</div>
			{% if loop.index != contracts|length %}
				<div class="page-break"></div>
			{%- endif -%}
		{% endfor %}
	{% endfor %}
{%- endif -%}